# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js

# 忽略 miniprogram 目录下的 node_modules 文件夹



# 忽略项目根目录下的特定文件


# 忽略其他可能不需要被版本控制的文件
.DS_Store
*.log
系统文档.docx